<!DOCTYPE html>
<html>
<head>
  <title>About Alpha-Blog</title>
</head>
<body>

  <h1>What is a Alpha-blog?</h1>
    <p>This is a blog created by Roy.</p>

  <%= link_to 'Home', root_path %>

</body>
</html>
