<!DOCTYPE html>
<html>
<head>
  <title>Alpha-Blog</title>
</head>
<body>

  <h1>Welcome to Alpha-Blog!</h1>
    <p>This is a blog created by Roy.</p>

  <%= link_to 'About', about_path %>

</body>
</html>
