$navbar-default-bg: #003366;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #4da3ff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_page_image.jpg');
  background-size: cover;
  height: 660px;
}

.jumbotron h1 {
  color: #003366;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -2px;
  font-weight: bold;
}

.jumbotron p {
  color: #003366;
  font-weight: bold;
  font-size: 1.7em;
  letter-spacing: 0px;
}

.btn-xlarge {
  font-size: 1.7em;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  font-size: 0.9em;
}

.article-content {
  font-size: 1.2em;
}

.header {
  color: #003366;
  font-weight: bold;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
}

.listing {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

navigation div ul li{
  color: #0099cc;
}